<div class="container">
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="{% url 'index' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
				Calyvim
			</a>
		</div>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="{% url 'features' %}" class="nav-link px-2">Features</a></li>
			<li><a href="{% url 'pricing' %}" class="nav-link px-2">Pricing</a></li>
			<li><a href="#" class="nav-link px-2">FAQs</a></li>
			<li><a href="#" class="nav-link px-2">About</a></li>
		</ul>

		<div class="col-md-3 text-end">
			{% if request.user.is_authenticated %}
			<a href="{% url 'event-list' %}" style="text-decoration: none;">
				<button type="button" class="btn btn-sm btn-primary me-2">Dashboard</button>
			</a>
			<a href="{% url 'logout' %}" style="text-decoration: none;">
				<button type="button" class="btn btn-sm btn-outline-primary">Logout</button>
			</a>
			{% else %}
			<a href="{% url 'login' %}" style="text-decoration: none;">
				<button type="button" class="btn btn-sm btn-outline-primary me-2">Login</button>
			</a>
			<a href="{% url 'register' %}" style="text-decoration: none;">
				<button type="button" class="btn btn-sm btn-primary">Get started</button>
			</a>
			{% endif %}
		</div>
	</header>
</div>