{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calyvim</title>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet">
	<link href="{% static 'bundle/bootstrap.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base/dashboard.css' %}">
</head>

<body>
    {% include 'partials/_alerts.html' %}

	{% block main %}
	{% endblock main %}

	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

	{% block script %}
	{% endblock script %}
</body>

</html>