{% extends 'base/minimal.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block main %}
<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="card border-0 shadow col-6">
        <div class="card-body py-4 px-4">
            <div class="row">
                <div class="col-6">
                    <h3>Profile</h3>
                    <form action="{% url 'profile' %}" method="post">
                        <div class="mb-2">
                            <label for="{{ form.username.id_for_label }}">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-2">
                            <label for="{{ form.full_name.id_for_label }}">Full name</label>
                            {{ form.full_name }}
                        </div>

                        <button class="btn btn-sm btn-primary">Save Changes</button>
                    </form>
                </div>

                <div class="col-6">
                    <h3>Connected Accounts</h3>
                    <div class="d-flex align-items-center gap-3 justify-content-between">
                        <div>Google Calender</div>
                        {% if has_google_connected %}
                        <a class="btn btn-sm btn-outline-primary"
                            href="{% url 'connected-accounts-google-revoke' %}?next_path=/accounts/profile">Revoke</a>
                        {% else %}
                        <a class="btn btn-sm btn-outline-primary"
                            href="{% url 'connected-accounts-google' %}?next_path=/accounts/profile">Connect</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}